NIXPACKS_NODE_VERSION=22
BACKEND_PORT=4000
NEXT_PUBLIC_FRONTEND=http://localhost:3000
PORT=3670
EMAIL_USER_1=developer@unerg.edu.ve
EMAIL_PASSWORD_1=fgcqzjqgslnfdyij
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
CORS_URL=https://dwws8kokwg8wgocw4c4ksckw.nimbux.cloud/
DATABASE_URL=postgres://postgres:YcHesWIz8eP6wi23Q29ixfErXpHt3m74seG78cOPmoExlceEPvv1lrP9fcRA51dm@72.62.14.203:8975/whachoo
SECRETCAPCHAT=6Le4CQ8sAAAAADDcnNzDQL-HKCtdc8geNNgtKGbi
SECRETCAPCHATPUBLIC=6Le4CQ8sAAAAACfOCLczDQ1XNmHrEq4EPIulA8xE
JWTTIEMPO=1000h
JWTSECRETO=mysecretkey
CLOUDINARY_CLOUD_NAME=SVG
CLOUDINARY_API_KEY=334547474849822
CLOUDINARY_API_SECRET=mq2alLpBMxMOieOtT4vZMCxYXYM